# ====================================================================
# Archivos y Carpetas de Compilación (Maven)
# ====================================================================
# Ignora la carpeta target de la raíz y de CADA UNO de los módulos de forma recursiva
target/
*.jar
*.war
*.ear
*.zip
*.tar.gz

# Archivo de ayuda generado automáticamente por Spring Initializr
HELP.md

# ====================================================================
# Entornos de Desarrollo (IDEs)
# ====================================================================

### Eclipse / Spring Tool Suite (STS) ###
.metadata/
.classpath
.project
.settings/
.factorypath
.springBeans
.sts4-cache/
*.tmp
*.bak
*.swp
local.properties

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# ====================================================================
# Sistema Operativo y Archivos Temporales
# ====================================================================
Thumbs.db
.DS_Store
*.log
logs/

